.galleryContainer {
  padding: 20px;
  color: white;
  text-align: center;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(45deg, #4e54c8, #8f94fb);
  border: none;
  padding: 8px 12px;
  margin-bottom: 9px;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hamburger:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.filterButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.button {
  background: linear-gradient(300deg, #4e54c8, #8f94fb, #ef77d0);
  background-size: 200% 200%;
  border: 1px solid transparent;
  width: 200px;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.8rem;
  border-radius: 17px;
  cursor: pointer;
  transition: background-position 0.5s ease, background-color 0.3s ease,
    transform 0.3s ease, box-shadow 0.3s ease;
  margin: 5px;
}

.button:hover {
  background-position: right center;
  filter: brightness(1.1);
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.active {
  background-color: transparent;
  background-image: none;
  color: #ffffff;
  border: 1px solid #ffffff;
}

/* Grid para a galeria de imagens: 3 imagens por linha */
.imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0 auto;
  width: 80vw; /* Largura reduzida para deixar as imagens menores */
}

.imageCard {
  height: 200px;
  overflow: hidden;
}

.imageCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.viewMoreButton {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 15px;
}

.viewMoreButton:hover {
  background-color: #005bb5;
}

/* Classe de animação para o container */
.animateContainer {
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Exibição do hamburger e filtros em telas menores */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .filtersWrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .filterButtons {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
  }
  .activeFilters {
    display: flex;
  }
}

/* Em telas muito pequenas, reduz a altura das imagens */
@media (max-width: 480px) {
  .imageCard {
    height: 150px;
  }
}
