.gradientText {
  background: linear-gradient(90deg, #ff3d3d, #ff3d3d, #ffd700, #87cefa, #0070f3);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.6rem;
  font-weight: 200;
  display: block;
  background-size: 100%;
  opacity: 0;
  animation: slideUp 1.2s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animação para os elementos */
.animated {
  opacity: 0;
  animation: slideUp 1.2s ease-in-out forwards;
}

/* Atrasos individuais para os elementos */
.line1 {
  animation-delay: 0.2s;
}

.line2 {
  animation-delay: 0.4s;
}

.line3 {
  animation-delay: 0.6s;
}

.subtitle {
  animation-delay: 0.8s;
}

.button {
  animation-delay: 1s;
}

.description {
  animation-delay: 1s;
}
.container {
  background-color: #0a0b1a;
  color: #fff;
  min-height: 100vh;
  display: flex;
  margin-left: 25%;
  align-items: center;
}

.content {
  max-width: 800px;
}

.heading {
  font-size: 3.7rem;
  line-height: 1.2;
  margin-bottom: 20px;
  width: 48%;
}

.subtitle{
  display: flex;
  width: 60%;
  height: 9vh;
}

.button {
  background: linear-gradient(90deg, #0070f3, #ff3d3d);
  background-size: 200% auto; /* Permite animar a posição do background */
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, background-position 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-position: right center; /* Move o gradiente para criar o efeito de transição */
  transform: scale(1.05);           /* Aumenta levemente o botão */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra suave */
}
.descriçao{
  display: flex;
  width: 50vw;
  justify-content: end;

}

.description {
  display: flex;
  width: 40%;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5;
  color: #a6a6a6;
}

.containertiulo2 {
  background-color: #0a0b1a;
  padding: 50px;
  text-align: center;
}

.gradientTexttilulo2 {
  background: linear-gradient(90deg, #ff3d3d, #ff3d3d, #ffd700, #87cefa, #0070f3);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.4rem;
  font-weight: 200;
  display: block;
  background-size: 100%;
}

.subtitle2 {
  color: #ffffff;
  font-size: 1.2rem;
  margin-top: 30px;
}
