.destaqueContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  justify-content: center;
  margin-top: 40px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}


.videoWrapper {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.1);
}


.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.viewMoreButton {
  display: block;
  margin: 30px auto 20px; 
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.viewMoreButton:hover {
  background-color: #005bb5;
}


@media (max-width: 1024px) {
  .destaqueContainer {
    grid-template-columns: repeat(2, 1fr); 
  }
}


@media (max-width: 768px) {
  .destaqueContainer {
    grid-template-columns: repeat(1, 1fr); 
  }
}

@media (max-width: 480px) {
  .destaqueContainer:not(.expanded) .videoWrapper:not(:first-child) {
    display: none;
  }
  .video {
    width: 89%;
    height: 60%;
  }
  .videoWrapper {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  }
}
